/*background-color: #ecf3fd
dark-blue-text: #174589
purple: #4836a8
orange:
--fire-color: #ffc25a;
--fire-color-lighter: #ffcf7e;
--fire-color-darker: #f3ae37;
--fire-color-font: #cf8912; */

:root {
  --pokemon-color: #8274d0;
  --pokemon-color-lighter: #ada3e6;
  --pokemon-color-darker: #6151ba;
  --pokemon-color-font: #2f1d8f;
  --water-color: #6e93cb;
  --water-color-lighter: #9ebae4;
  --water-color-darker: #4974b3;
  --water-color-font: #174589;
  --electric-color: #ffe57e;
  --electric-color-lighter: #ffeeaa;
  --electric-color-darker: #ffde5a;
  --electric-color-font: #cfa912;
  --fire-color: #ffcf7e;
  --fire-color-lighter: #ffe0aa;
  --fire-color-darker: #ffc25a;
  --fire-color-font: #cf8912;
  --heading-font: 'ZCOOL KuaiLe', cursive;
  --heading-font-color: #35acac;
  --white: #fff;
  --gap: 10px;
  --font-weight: 700;
  --font-size-basic: 18px;
  --font-size-h: 24px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: 'Abel', sans-serif;
  font-weight: 300;
  font-size: var(--font-size-basic);
  line-height: 1.6;
  text-align: center;
  max-width: 700px;
}

div {
  text-align: left;
  margin: 5px 10%;
}

.pokemon {
  border: none;
  font-family: inherit;
  background-color: var(--pokemon-color);
  color: var(--pokemon-color-font);
  text-decoration: none;
  padding: var(--gap);
  border-radius: 5px;
  box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
  transition-duration: 0.3s opacity;
}

.pokemon:hover,
.pokemon:focus {
  cursor: pointer;
  background-color: var(--pokemon-color-darker);
  color: var(--white);
}

.water {
  border: none;
  font-family: inherit;
  background-color: var(--water-color-lighter);
  color: var(--water-color-font);
  text-decoration: none;
  padding: var(--gap);
  border-radius: 5px;
  box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
  transition-duration: 0.3s opacity;
}

.water:hover,
.water:focus {
  cursor: pointer;
  background-color: var(--water-color-darker);
  color: var(--white);
}

.electric {
  border: none;
  font-family: inherit;
  background-color: var(--electric-color-lighter);
  color: var(--electric-color-font);
  text-decoration: none;
  padding: var(--gap);
  border-radius: 5px;
  box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
  transition-duration: 0.3s opacity;
}

.electric:hover,
.electric:focus {
  cursor: pointer;
  background-color: var(--electric-color-darker);
  color: var(--white);
}

.fire {
  border: none;
  font-family: inherit;
  background-color: var(--fire-color-lighter);
  color: var(--fire-color-font);
  text-decoration: none;
  padding: var(--gap);
  border-radius: 5px;
  box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.3);
  transition-duration: 0.3s opacity;
}

.fire:hover,
.fire:focus {
  cursor: pointer;
  background-color: var(--fire-color-darker);
  color: var(--white);
}

.pokemon:active,
.water:active,
.electric:active,
.fire:active {
  box-shadow: none;
}

h1 {
  font-family: var(--heading-font);
  font-size: 30px;
  font-weight: var(--font-weight);
  color: var(--heading-font-color);
}

h2 {
  font-family: var(--heading-font);
  font-size: var(--font-size-h);
  font-weight: var(--font-weight);
  color: var(--heading-font-color);
}

h3 {
  font-family: var(--heading-font);
  font-size: var(--font-size-basic);
  font-weight: var(--font-weight);
  color: var(--heading-font-color);
}
